.pan-upgrade-panel {
  display: flex;
  flex: 0 1 auto;
  margin: 0;
  overflow: visible;
  position: relative;
  min-width: 0;
  min-height: 0;
}

.pan-upgrade-panel-color-white {
  background-color: #fff;
}

.pan-upgrade-panel:not(.pan-upgrade-panel-dragging) {
  transition: all cubic-bezier(0.4,0.0,0.2,1) .2s;
}

.pan-upgrade-panel-content-wrapper {
  display: flex;
  flex: 1;
  max-width: 100%;
  position: relative;
  transition: all cubic-bezier(0.4,0.0,0.2,1) .2s;
}

.pan-upgrade-panel-side-left, .pan-upgrade-panel-side-right {
  overflow-x: visible;
}

.pan-upgrade-panel-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  overflow: visible;
  position: relative;
  flex: 1;
  min-width: 0;
}

/* experimenting */

.cfc-icon-size-large {
  color: currentcolor;
  fill: currentcolor;
  height: 32px;
  width: 32px;
}

div.pan-upgrade-panel-content > a.cfc-section-link,
div.pan-upgrade-panel-content > a.cfc-section-link > div.cfc-toolbar-tools {
  display: flex;
  width: 100%;
}

.cfc-section-link .cfc-toolbar-tools .cfc-section-name {
  color: rgba(0,0,0,0.655);
  font-family: "roboto";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: .005em;
  line-height: 24px;
}
